In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('DATA/WeatherEvents_Jan2016-Dec2021.csv')

In [6]:
df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,0.03,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [40]:
rain = df[['State', 'Precipitation(in)']].groupby('State').sum()
stations = df[['State', 'AirportCode']].groupby('State').nunique()

In [47]:
full = rain['Precipitation(in)'] / stations['AirportCode']
full = full.reset_index()
full.columns = ['State', 'Precipitation']

In [48]:
full

   State  Precipitation
0     AL     628.225405
1     AR     723.802571
2     AZ      90.087838
3     CA     110.651556
4     CO      75.257258
5     CT     443.624000
6     DE     517.666667
7     FL     567.868488
8     GA     257.466866
9     IA     230.781667
10    ID     111.943704
11    IL     393.083793
12    IN     496.629091
13    KS     381.386944
14    KY     499.622308
15    LA     600.258222
16    MA     460.460435
17    MD     266.408750
18    ME     461.301176
19    MI     222.918784
20    MN     209.546186
21    MO     435.922121
22    MS     692.529310
23    MT     168.376786
24    NC     437.915205
25    ND     295.819730
26    NE     259.094615
27    NH     396.307692
28    NJ     532.926471
29    NM     112.781842
30    NV      50.730455
31    NY    1641.311500
32    OH     387.529762
33    OK     314.073585
34    OR     260.924545
35    PA     461.475385
36    RI     389.475000
37    SC     382.008409
38    SD     356.115000
39    TN     415.215500
40    TX     307.849890
41    UT      63.351739
42    VA     422.603208
43    VT     255.439091
44    WA     223.685814
45    WI     281.074154
46    WV     394.290000
47    WY     119.949636

In [49]:
full.to_csv('DATA/Precipitation_Per_State.csv', index=False)

In [30]:
df[['State', 'Precipitation(in)']].groupby('State').mean()

       Precipitation(in)
State
AL              0.135033
AR              0.184736
AZ              0.059447
CA              0.048277
CO              0.027473
CT              0.106003
DE              0.107960
FL              0.149942
GA              0.068876
IA              0.065615
ID              0.035209
IL              0.093664
IN              0.122578
KS              0.132151
KY              0.112043
LA              0.138888
MA              0.098259
MD              0.093869
ME              0.099215
MI              0.046004
MN              0.052967
MO              0.122229
MS              0.160612
MT              0.052050
NC              0.100752
ND              0.080450
NE              0.079764
NH              0.078628
NJ              0.131164
NM              0.058925
NV              0.035646
NY              0.359171
OH              0.088493
OK              0.105835
OR              0.056291
PA              0.099946
RI              0.104328
SC              0.092235
SD              0.106009
TN              0.118467
TX              0.108541
UT              0.036471
VA              0.096574
VT              0.056039
WA              0.050287
WI              0.067036
WV              0.075720
WY              0.040802